body {
	font-family: Helvetica;
	font-size:14px;
}

form:last-child {
	margin-top: 100px;
}

.wrap {
	width: 1550px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	padding:30px;
}

.filters {
	width: 300px;
	height: 600px;
	float:left;
	border: 1px solid #ccc;
	padding:10px;
}

.filters .search {
	display:block;
	margin-bottom:20px;
}

.filters .search h2 {
	display:block;
	font-size: 18px;
	line-height:24px;
}

.filters .search input {
	height:15px;
	display:block;
	padding:10px;
	font-size:20px;
	width:270px;
}

.filters select {
	width:100%;
	height:30px;
	line-height:30px;
	display:block;
}

.filters button[type=submit] {
	background-color:#577EFF;
	color:white;
	font-size:16px;
	border:none;
	padding:20px;
	border-radius:10px;
	width:100%;
	float:right;
}

.tabs {
	overflow:hidden;
	text-align:center;
	width:1200px;
}

.tabs li {
	display: inline-block;
	background: -webkit-linear-gradient(#f8f8f8, #eee);
	background: -moz-linear-gradient(#f8f8f8, #eee);
	background: linear-gradient(#f8f8f8 0%, #eee 100%);
	background-color: #eee;
	border-top: 0px solid #e5e5e5;
	width:400px;
	float:left;
}

.tabs li:first-child {
	width: 399px;
	border-right: 1px solid #e5e5e5;
}

.tabs li:last-child {
	width: 399px;
	border-left: 1px solid #e5e5e5;
}

.tabs li.selected {
	background:white;
}

.tabs li a {
	width:100%;
	height:100%;
	display:block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-content {
	width: 1200px;
	float:right;

	border: 1px solid #ccc;
}

.tabbed-content {
	border-top: 1px solid #ccc;
}

.tabbed-content iframe{
	width:1200px;
	min-height:80%;
	overflow-y:scroll;
}
