<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Hello World</title>
</head>
<body>

<div class="wrap">
  <div class="filters">

  	<form>
	  	<label class="search">
	  	<h2>CSS selector</h2>
	  	<input name="css" type="text" value="{{ search_term }}"></input>
	  	</label>

	  	<label class="search">
	  		<h2>Servlet</h2>
	  		<select>
	  			<option name="home">home</option>
	  			<option name="home">biz_details</option>
	  		</select>
	  	</label>

	  	<button type="submit">Search</button>
	</form>

	<form action="/simulator">
		<label class="search">
		<h2>YUV search</h2>
		<input name="yuv" type="text" value="{{ search_user }}"></input>
		</label>
		<button type="submit">Simulate</button>
	</form>
  </div>

  <div class="main-content">

  <ul class="tabs">
  	<li {% if tab == 'html' %} class="selected" {% endif %}><a href="/">HTML</a></li>
  	<li {% if tab == 'metric' %} class="selected" {% endif %}><a href="/metric">Metrics</a></li>
  	<li {% if tab == 'simulator' %} class="selected" {% endif %}><a href="/simulator">Simulator</a></li>
  </ul>

  <div class="tabbed-content">
  	{% if tab == 'html' %}
  		<iframe src="/html_nonsense"></iframe>
  	{% elif tab == 'metric' %}
		{% if query %}
    		Query: {{ query }}<br>
  		{% endif %}

  		{% if results %}
    		<ul>
      		{% for result in results %}
        		<li>{{ result }}</li>
      		{% endfor %}
    		</ul>
  		{% endif %}

	{% elif tab == 'simulator' %}
		{% if yuv %}
		  Simulator for: {{ yuv }}
		{% endif %}

		{% if results %}
			{{ results }}
		{% endif %}

  	{% endif %}
  </div>

  </div>
</div>

<script src="js/jquery-1.9.1.min.js"></script>

</body>
</html>
