<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css" />
  <title>Hello World</title>
</head>
<body>
  <form>
    Search term: <input type="text" name="q" value="{{ search_term }}">
    <input type="submit">
  </form>
  Search term: {{ search_term }}<br>
  
  {% if query %}
  	Query: {{ query }}<br>
  {% endif %}
  
  {% if results %}
  	<ul>
	  	{% for result in results %}
	  		<li>{{ result }}</li>
	  	{% endfor %}
  	</ul>
  {% endif %}
  <script src="js/jquery-1.9.1.min.js"></script>
</body>
</html>
