<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Hello World</title>
</head>
<body>

<div class="wrap">
  <div class="filters">

  	<form>
	  	<label class="search">
	  	<h2>CSS selector</h2>
	  	<input name="css" type="text" value="{{ search_term }}"></input>
	  	</label>

	  	<label class="search">
	  		<h2>Servlet</h2>
	  		<select>
	  			<option name="home">home</option>
	  			<option name="home">biz_details</option>
	  		</select>
	  	</label>

	  	<button type="submit">Search</button>
	</form>

	<form action="/simulator">
		<label class="search">
		<h2>YUV search</h2>
		<input name="yuv" type="text" value="{{ search_user }}"></input>
		</label>
		<button type="submit">Simulate</button>
	</form>
  </div>

  <div class="main-content">

  <ul class="tabs">
  	<li {% if tab == 'html' %} class="selected" {% endif %}><a href="/">HTML</a></li>
  	<li {% if tab == 'metric' %} class="selected" {% endif %}><a href="/metric">Metrics</a></li>
  	<li {% if tab == 'simulator' %} class="selected" {% endif %}><a href="/simulator">Simulator</a></li>
  </ul>

  <div class="tabbed-content">
  	{% if tab == 'html' %}
  		<iframe src="/html_nonsense"></iframe>
  	{% elif tab == 'metric' %}
		{% if query %}
    		<div class="module query">
    			<h2>Neo4j Query</h2>
    			<span>{{ query }}</span>
    		</div>
  		{% endif %}
  		<section>
	  		{% if percent_breakdown %}
	  			<div class="module users">
		  			<h2>User Breakdown</h2>
		  			<canvas class="user-breakdown" width="400" height="400"></canvas>
		  			<div class="legend">
		  				<span class="logged-out"><span></span>Logged Out</span>
		  				<span class="logged-in"><span></span>Logged In</span>
		  			</div>
	  			</div>
	  			<script>
	  				window.percentBreakdown = {{percent_breakdown|tojson|safe}}
	  			</script>
	  		{% endif %}
	  		
	  		{% if hit_count %}
	  			<div class="module hits">
		  			<h2>Hit Count</h2>
		  			<div>
		  				
		  				{% if hit_count['click'] > 0 %}
		  					<div>Clicks: {{hit_count['click']}}</div>
		  				{% endif %}
		  				{% if hit_count['mouseenter'] > 0 %}
		  					<div>Mouse Enters: {{hit_count['mouseenter']}}</div>
		  				{% endif %}
		  				
		  			</div>
	  			</div>
	  		{% endif %}
	  		
	  		{% if children %}
	  			<div class="module children">
	  				<h2>Direct Children</h2>
			  		<ul>
			      		{% for child in children %}
			        		<li>{{ child }}</li>
			      		{% endfor %}
		    		</ul>
	    		</div>
	  		{% endif %}
  		</section>	
	{% elif tab == 'simulator' %}
		{% if yuv %}
		  Simulator for: {{ yuv }}
		{% endif %}

		{% if results %}
			{{ results }}
		{% endif %}
  	{% endif %}
  </div>

  </div>
</div>


<script src="js/Chart.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
